img {
  width: 100%;
}

button {
  width: 100px;
  height: 50px;
  border: none;
  background-color: white;
  display: block;
}

#candleDiv {
  width: 40%;
  float: right;
  display: block;
}

#frostingChoiceDiv {
 width: 40%;
  float: left;
  display: block;
}

.candle {
  width: 10%;
  position: absolute;
  top: 170px;
  margin-left: 40%;
  display: block;
  z-index: 1;
}

#cake {
  display: block;
  position: relative;
  top: -25px;
  z-index: -1;
}
